.wrapper {
    width: 60%;
    margin: 110px auto;
}

.title {
    margin: 0px auto 50px auto;
    text-align: center;
    font-size: 2.8rem;
}

.slick-slide > div {
    margin: 0 10px;
}
.slick-list {
    height: 1000px;
    margin: 0 -10px;
}

.slick-arrow {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0px -80px 0 -80px;
    z-index: 99;
}

.card {
    // width: 400px;
    border: 1px solid #fff;
    background: black;
    border-radius: 8px;
    overflow: hidden;

    height: 500px;
    color: #fff;
    cursor: pointer;
}

.card-top h1 {
    font-size: 0.9rem;
    margin: 20px;
}

.card-top > img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    background: black;
}

.card-bottom {
    margin: 10px 20px;
}

.category {
    position: relative;
}
.category::before {
    content: '';
    background: rgb(255, 61, 61);
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    height: 2px;
}