.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    padding: 4.5rem 0px;
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    padding: 0px 15px;
    margin-left: auto !important;
    margin-right: auto;
}

// information -----------------------------
.information {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

.little-title {
    padding: 8px 16px;
    font-size: 14px;
    color: #5b5b5b;
    font-weight: bold;
}

.greeting {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 24px 0;
    font-size: 2.8rem;
}

.default-greeting {
    padding-right: 8px;
    color: #212121;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    min-width: 460px;
    position: relative;
}
.animated-item {
    color: #2fc6b9;
}
.animated-item {
    line-height: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
    animation-delay: 2s;
  }
.animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    15% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 1;
        transform: translateY(0px);
    }
    35% {
        opacity: 0;
        transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


.content {
    width: 85%;
    margin: 50px 0 16px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

.contact {
    margin-top: 24px !important;
    width: 100%;
}

.btn-contact {
    padding: 13px 29px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    color: #ffff;
    background: #474559;
    transition: all 0.4s ease;

    &:hover {
        background: #ffc200;
    }
}

// avatart container -------------------------------
.avatar-container {
    width: 40%;
    left: 0;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}
